/*
 * Copyright (c) 2023 JSC
 */

 /** From st,stm32-i2c-v2.yaml

@see TIMING_R in user manual!!!

timings = <64000000 I2C_BITRATE_STANDARD 0x10707DBC>,
			<64000000 I2C_BITRATE_FAST 0x00603D56>,
			<56000000 I2C_BITRATE_STANDARD 0x10606DA4>,
			<56000000 I2C_BITRATE_FAST 0x00501D63>;
*/

&i2c1 {
	clock-frequency = <I2C_BITRATE_STANDARD>;
	timings = < 8000000 I2C_BITRATE_STANDARD 0x10420F13>,
	          <16000000 I2C_BITRATE_STANDARD 0x30420F13>,
	          <48000000 I2C_BITRATE_STANDARD 0xB0420F13>;
	status="okay";

   bme280@76 {
        compatible = "bosch,bme280";
        reg = <0x76>;  // I2C address of BME280
    };
	eeprom1: e24lc64@50 {
		compatible = "microchip,24lc64";
		reg = <0x50>;
		size = <8192>; // Size in bytes
		status = "okay";
	};
};

  &rtc {
        compatible = "st,stm32-rtc";
        status = "okay";
		clocks = <&clk_lse>;  
	

    };
&clk_lse{
			status = "okay";
		};

