/*
 * Copyright (c) 2020, Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/* Example configuration of a BME280 device on an Arduino SPI bus. */

&i2c1 {
	status = "okay";
	   bme280@76 {
        compatible = "bosch,bme280";
        reg = <0x76>;  // I2C address of BME280
    };
};
