

&i2c1 {
	clock-frequency = <I2C_BITRATE_STANDARD>;
	timings = < 8000000 I2C_BITRATE_STANDARD 0x10420F13>,
	          <16000000 I2C_BITRATE_STANDARD 0x30420F13>,
	          <48000000 I2C_BITRATE_STANDARD 0xB0420F13>;
	status="okay";

	eeprom1: e24lc64@50 {
		compatible = "microchip,24lc64";
		reg = <0x50>;
		size = <8192>; // Size in bytes
		status = "okay";
	};
	  bme280@76 {
        compatible = "bosch,bme280";
        reg = <0x76>;  // I2C address of BME280
    };



};

    &rtc {
        status = "okay";
    clocks = < &rcc 0x1c 0x10000000 >, < &rcc STM32_SRC_LSE RTC_SEL(1) >;
    };

&clk_lse {
    status="okay";
    driving-capability = < 0x3 >;
    /delete-property/ lse-bypass;
};